---
import ExternalLink from "/public/icons/External link.svg";
import Image from "astro/components/Image.astro";
const { href, label } = Astro.props;
---

<li class="">
  <a
    href={href}
    tabindex="0"
    target="_blank"
    class="relative text-md underline hover:opacity-80 flex flex-row gap-2 items-center md:gap-2 md:after:absolute md:after:inset-[-20px]"
  >
    <slot />
    <Image
      src={ExternalLink}
      alt={"External link to " + label}
      width={ExternalLink.width}
      height={ExternalLink.height}
      class:list={"s-[1rem]"}
      loading={"lazy"}
    />
  </a>
</li>
