---
import Section from "@/components/sections/section.astro";
import { cmsURL } from "@/constants";
import { Image } from "astro:assets";
import type { CaseStudyType } from "../[slug].astro";

const { otherCaseStudies } = Astro.props;
---

<Section class={["mb-30"]} id="other-projects">
  <div class="border-t-[0.5px] border-dark-gray"></div>
  <h2 class="text-2xl font-body mt-10 mb-10">Other projects</h2>
  <div class="flex flex-row gap-12 flex-wrap">
    {
      otherCaseStudies.map((data: CaseStudyType) => (
        <div class="flex flex-col gap-5 max-w-75">
          <Image
            src={cmsURL + data.thumbnailImage.url}
            alt={data.thumbnailImage.alt}
            inferSize
          />
          <a
            href={data.slug}
            class="text-xl/[1.25] font-display font-bold underline hover:text-pale-blue/80"
            tabindex="0"
            data-astro-prefetch
          >
            {data.title}
          </a>
        </div>
      ))
    }
  </div>
</Section>
