---
import { RichTextLexical } from "@/components/rich-text/richTextLexical";
import ScrollSpy from "@/components/scroll-spy/scrollSpy.astro";
import Section from "@/components/sections/section.astro";
import useAstroImage from "@utils/useAstroImage";

const { page } = Astro.props;

await useAstroImage(page.content);
---

<Section class={["mb-15"]} id="content">
  <div class="relative">
    <div class="absolute right-[calc(-1*max(5vw,20px))] h-[100%] top-10">
      <ScrollSpy page={page} />
    </div>
    <article class="md:w-[80%] max-w-[80ch] flow-root">
      <RichTextLexical data={page.content} client:idle />
    </article>
  </div>
</Section>
