@import "tailwindcss";

/* nunito-latin-wght-normal */
@font-face {
  font-family: 'Nunito Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 200 1000;
  src: url(@fontsource-variable/nunito/files/nunito-latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* nunito-latin-ext-wght-normal */
@font-face {
  font-family: 'Nunito Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 200 1000;
  src: url(@fontsource-variable/nunito/files/nunito-latin-ext-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0100-02BA,U+02BD-02C5,U+02C7-02CC,U+02CE-02D7,U+02DD-02FF,U+0304,U+0308,U+0329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* nunito-vietnamese-wght-normal */
@font-face {
  font-family: 'Nunito Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 200 1000;
  src: url(@fontsource-variable/nunito/files/nunito-vietnamese-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1EA0-1EF9,U+20AB;
}

/* noto-serif-latin-wght-normal */
@font-face {
  font-family: 'Noto Serif Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(@fontsource-variable/noto-serif/files/noto-serif-latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* noto-serif-latin-ext-wght-normal */
@font-face {
  font-family: 'Noto Serif Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(@fontsource-variable/noto-serif/files/noto-serif-latin-ext-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0100-02BA,U+02BD-02C5,U+02C7-02CC,U+02CE-02D7,U+02DD-02FF,U+0304,U+0308,U+0329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* noto-serif-vietnamese-wght-normal */
@font-face {
  font-family: 'Noto Serif Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(@fontsource-variable/noto-serif/files/noto-serif-vietnamese-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1EA0-1EF9,U+20AB;
}

@theme {
    /* Colors */
    --color-white: #ffffff;
    --color-gray: #f9f9fa;
    --color-dark-gray: #e0e0e1;
    --color-dark-blue: #111f31;
    --color-dark-blue-hover: #293546;
    --color-pale-blue: #21324c;
    --color-yellow: #ebb723;
    --color-cyan: #34bab4;
    --color-dark-cyan: #198f8a;
  
    /* Spacing */
    --spacing-15: 3.75rem;
    --spacing-25: 6.25rem;
    --spacing-30: 7.5rem;
    --spacing-50: 12.5rem;
    --spacing-75: 18.75rem;
    --spacing-100: 25rem;
    --spacing-125: 31.25rem;
    --spacing-150: 37.5rem;
  
    /* Font Sizes */
    --text-sm: 0.9rem;
    --text-base: 1rem;
    --text-md: 1.2rem;
    --text-lg: 1.4rem;
    --text-xl: 1.6rem;
    --text-2xl: 1.728rem;
    --text-3xl: 2.0735rem;
    --text-4xl: 2.5rem;
    --text-6xl: clamp(3rem, 5.5vw, 3.75rem);
  
    /* Font Families */
    --font-display: "Noto Serif Variable", serif;
    --font-body: "Nunito Variable", sans-serif;
  
    /* Breakpoints */
    --breakpoint-s: 434px;
    --breakpoint-md: 741px;
    --breakpoint-lg: 1047px;
    --breakpoint-xl: 1200px;
    --breakpoint-2xl: 1350px;
  
    /* Animation */
    --animate-underlining: underline 1000ms 200ms cubic-bezier(0, 0, 0.2, 1) forwards;
  
    /* Keyframes */
    @keyframes underline {
      0% {
        background-size: 0% 0.8rem;
      }
      100% {
        background-size: 100% 0.8rem;
      }
    }
  }