---
import MaxWidth from "@components/container/maxWidth.astro";
interface Props {
  class: string[];
  id: string;
  style?: astroHTML.JSX.CSSProperties;
}
const { class: className, id, style } = Astro.props;
---

<section class:list={[className]} id={id} style={style}>
  <MaxWidth class="">
    <slot />
  </MaxWidth>
</section>
