---
export const prerender = true;

import MaxWidth from "../components/container/maxWidth.astro";
import Layout from "@/layouts/layout.astro";
---

<Layout
  pageMetaDescription="An aspiring product designer with a background in engineering. Currently pursuing a Master’s in HCI in the Netherlands and Finland."
  pageTitle={`Page not found`}
>
  <MaxWidth class="pt-10">
    <h1
      class="text-6xl font-bold leading-tight md:leading-snug font-display text-center"
    >
      404
    </h1>
    <br />
    <h3>The page you are trying to access is not found :(</h3>
  </MaxWidth>
</Layout>

<style>
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
</style>
