---
import MaxWidth from "./maxWidth.astro";
import Image from "astro/components/Image.astro";
import HalfRing from "/public/decorators/half ring.svg";
import LogoSmall from "/public/images/logo-small.svg";
import HomePageContent from "../content/homepage.json";

const footerContent = HomePageContent.footer;
---

<footer class="relative">
  <div class="bg-white md:pt-20">
    <div class="relative w-[clamp(15rem,30vw,18em)] mx-auto">
      <Image src={HalfRing} alt="" class:list={"asbolute mx-auto bottom-0"} />
      <Image
        src={LogoSmall}
        alt=""
        class:list={"absolute left-[50%] -translate-x-[50%] translate-y-[50%] bottom-0 w-[50%] "}
      />
    </div>
  </div>
  <MaxWidth class="pt-[5.5rem] md:pt-16 pb-12 flex flex-col gap-5">
    <span class="text-lg">{footerContent.mainline}</span>
    <span class="text-sm text-pale-blue/80">{footerContent.tagline}</span>
  </MaxWidth>
</footer>
